<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silly Chess Engine</title>

    <link rel="stylesheet" href="/static/chessground.base.css" />
    <link rel="stylesheet" href="/static/chessground.brown.css" />
    <link rel="stylesheet" href="/static/chessground.cburnett.css" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="controls">
      <div class="color-selector">
        <label
          ><input type="radio" name="color" value="white" checked />
          White</label
        >
        <label><input type="radio" name="color" value="black" /> Black</label>
        <label><input type="radio" name="color" value="random" /> Random</label>
      </div>
      <button onclick="startNewGame()">Start New Game</button>
    </div>

    <div class="container">
      <div class="board-container">
        <div id="chessboard" style="width: 400px; height: 400px"></div>
      </div>

      <div class="info-panel">
        <h3>Moves</h3>
        <div id="move-history"></div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>

    <script type="module" src="/static/app.js"></script>
  </body>
</html>
